:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  text-align: center;
}

.mainDiv{
  text-align: center;
}

.todosDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default_button{
  margin: 5px;
  width: 100px;
}

.crossed-line {
  text-decoration: line-through;
}

.todoBase {
  width: 300px;
  /* border: 2px solid green; */
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.errorMessageDiv{
  background-color: #fa8072;
  border: 2px solid #860111;
  border-radius: 15px;
}

.warningMessageDiv{
  background-color:  #fff44f;
  border: 2px solid #ffc40c;
  border-radius: 15px;
}